<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
   
</head>
<body class="container">
   
<header>
    <%- include('../partials/header'); %>
</header>

<main>
    <div class="jumbotron">
        <h1>About</h1>
        <p>This site is for display purposes only. Find and copy UID of a user then filter and delete in Firebase console if required.</p>

   
    </div>
</main>

<footer>
    <%- include('../partials/footer'); %>
</footer>

</body>
</html>